<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page</title>

   <!-- 공용 css/js 추가 -->
   <th:block th:replace="~{common/common}"></th:block>

   <!-- myPage 전용 css -->
   <link rel="stylesheet" href="/css/myPage/myPage-style.css">
</head>
<body>

  <main>

    <!-- 헤더 -->
    <th:block th:replace="~{common/header}"></th:block>

      <!-- 사이드바 -->
    <section class="left-side">
        <h2>마이페이지</h2>
        <ul class="side-menu">
          <li>
            <a href="/myPage/profile">프로필</a>
          </li>
      
          <li>
            <a href="/myPage/info">회원정보 수정</a>
          </li>
      
          <li>
            <a href="/myPage/changePw">게시물 관리</a>
          </li>
      
          <li>
            <a href="/myPage/secession">회원 탈퇴</a>
          </li>
      </ul>
    </section>
    

    <!-- 메인 컨텐츠 -->
    <section class="main-content">
      <div class="profile-box">
          <h2>프로필</h2>
          <div class="profile-info">
              <img src="profile-image.jpg" class="profile-img">
              <div class="profile-details">
                  <h3>홍길동님 안녕하세요.</h3>
                  <ul>
                      <li><strong>아이디 : hx122</strong></li>
                      <li><strong>가입일 : 2024-10-22 13:55:24</strong></li>
                  </ul>
              </div>
          </div>
      </div>
  </section>


  </main>

</body>
</html>
