<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 수정</title>

  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/myPage/myPage-style.css">
</head>
<body>
  <main class="info-main">

    <!-- 헤더 -->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- 사이드바 -->
    <th:block th:replace="~{myPage/sideMenu}"></th:block>

     <!-- 메인 컨텐츠 -->
     <section class="main-content" style="padding: 0;">


    </section>
    
  </main>
    
</body>
</html>